.lobby-screen {
    .start-game {
        margin-bottom: 50px;

        .info-block,
        .warning-block {
            margin-bottom: 25px;
        }

        button {
            font-weight: 500;
        }
    }
}
