.board-screen {
    .start-button-section {
        margin-bottom: 40px;
    }

    .quest-selection {
        justify-content: flex-start;

        .info-block {
            max-width: 400px;
        }
    }
}
