#app {
    max-width: 1400px;
    margin: auto;
    padding: 25px;

    header {
        h1 {
            font-size: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
    }
}
