@import '../../../assets/styles/colors';

.votes-modal {
    width: 440px;

    h2 {
        margin-bottom: 45px;
    }

    .selected-player-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .selection {
        font-weight: 500;
        margin-bottom: 45px;

        .icon {
            box-sizing: content-box;
            margin-bottom: 20px;
            opacity: .25;
            transition: .3s;
            cursor: pointer;

            &:hover {
                opacity: 1;
                transform: translateY(-3px);
            }
        }

        &.selection-no {
            .icon {
                transform: rotate(180deg) scaleX(-1) translateY(-15px);

                &:hover {
                    transform: rotate(180deg) scaleX(-1) translateY(-12px);
                }
            }
        }

        &.selected {
            .icon {
                opacity: 1;
            }
        }
    }
}
