@import 'colors';

input,
button {
    font: inherit;
}

input {
    padding: 10px;
    border: 2px solid darken($grey, 20%);
    border-radius: 4px;
    transition: .3s;

    &:focus {
        border-color: $blue;
    }

    &.has-warning {
        border-color: $red;
    }
}
