@import '../../../assets/styles/colors';

.quest-votes-history {
    padding: 0;

    li {
        position: relative;
        display: inline-flex;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        padding: 10px;
        border-radius: 4px;
        margin-left: 15px;

        .counters {
            flex-direction: row;
            margin-top: 15px;
            font-weight: 600;
            font-size: 14px;

            span:first-of-type {
                margin-left: 10px;
            }

            .icon {
                margin-bottom: 5px;
            }
        }
    }
}
