@import '../../assets/styles/colors';

.login-screen {
    h2 {
        text-align: center;
    }

    form {
        width: 300px;

        input,
        button {
            width: 100%;
            margin-bottom: 20px;
        }

        .warning-message {
            width: 100%;
            background: $yellow;
            padding: 20px;
            border-radius: 4px;
            text-align: center;
            color: darken($yellow, 55%);
        }
    }
}
