@import '../../assets/styles/colors';

$background_size: 66px;

.avatar {
    position: relative;
    display: inline-flex;
    padding: 15px 10px 10px;
    box-sizing: border-box;

    .username {
        max-width: 65px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }

    .role-icon {
        position: relative;
        margin-bottom: 5px;

        svg {
            position: relative;
            z-index: 2;
        }

        .ready-icon {
            position: absolute;
            z-index: 3;
            bottom: -4px;
            left: 5px;
        }
    }

    .quest-icons {
        position: absolute;
        z-index: 3;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;

        .icon + .icon {
            margin-right: 8px;
        }
    }

    &.is-me {
        .role-icon {
            &:before {
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);
                height: $background_size;
                width: $background_size;
                background: $blue;
                border-radius: 50%;
                content: '';
            }
        }
    }

    &.is-evil {
        .role-icon {
            &:before {
                background: $red;
            }
        }
    }

    &.clickable {
        cursor: pointer;
    }
}
