@import '../../assets/styles/colors';

.avatar {
    position: relative;
    display: inline-flex;
    width: 110px;

    .username {
        position: absolute;
        left: 50%;
        bottom: -23px;
        transform: translateX(-50%);
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
}
